@use "src/assets/scss/variables.scss" as v;

.meals-list {
    display: flex;
    gap: 57px;

    overflow-y: hidden;
    overflow-x: scroll;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.meals-list::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
