@use "src/assets/scss/variables.scss" as v;

.meals-list {
    margin-top: 36px;
    margin-left: 140px;
    display: flex;
    gap: 57px;
    
    overflow: hidden;

    div:last-child {
        margin-right: 30px;
    }
}

@media screen and (max-width: 831px) {
    .meals-list {
        margin-left: 56px;
        margin-top: 118px;
    }
}

@media screen and (max-width: 431px) {
    .meals-list {
        margin-top: 35px;
        margin-left: 44px;
    }
}

