.App {
    position: relative;
    margin-left: 140px;
    margin-top: 36px;

    @media screen and (max-width: 830px) {
        & {
            margin-top: 34px;
            margin-left: 56px;
        }
    }

    @media screen and (max-width: 430px) {
        & {
            margin-left: 44px;
        }
    }
}
