@use "src/assets/scss/variables.scss" as v;
@import url('./assets/fonts/Poppins/stylesheet.css');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: v.$font-dark;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-primary {
  color: v.$primary;
}

.text-primary-light {
  color: v.$primary-light;
}

.text-primary-dark {
  color: v.$primary-dark;
}